/.git/
/tools/
/tests/

/.idea/
/.vscode/

/.coverage
/.dockerignore
/.env*
/.gitattributes
/.gitignore
/celerybeat-schedule
/docker-compose.yml
/docker-compose.*.yml
/Dockerfile
/*.log*
/pyproject.toml
/README.md

**/__pycache__/
**/*.py[cod]
**/.mypy_cache/
**/.pytest_cache/
