/.git/

/.idea/
/.vscode/

/.mypy_cache/
/.coverage
/.dockerignore
/.env*
/.gitattributes
/.gitignore
/docker-compose.yml
/docker-compose.*.yml
/Dockerfile
/*.log*
/README.md

**/__pycache__/
**/*.py[cod]
**/*$py.class
